body{
    background: linear-gradient(#7bc589, #e8eaed) no-repeat center center fixed;
    width: 1000px;
    margin: auto;
}

#kepterkep{
    width: 800px;
    margin: auto;
    border: 1px solid black;
}

header{
    width: 1000px;
    margin: auto;
}

main, footer{
    width: 900px;
    margin: auto;
}

.jobb{
    float: right;
}

.bal{
    float: left;
}

.bal, .jobb{
    margin: 10px;
    border: 1px solid black;
}