body{
    background: linear-gradient(#7bc589, #e8eaed) no-repeat center center fixed;
    width: 1000px;
    margin: auto;
}

#kepterkep{
    width: 800px;
    margin: auto;
    border: 1px solid black;
}

header{
    width: 1000px;
    margin: auto;
}

main{
    width: 900px;
    margin: auto;
}