body{
    background: linear-gradient(#7bc589, #e8eaed);
    width: 1000px;
}

#kepterkep{
    width: 800px;
    margin: auto;
    border: 1px solid black;
}

header{
    width: 1100px;
    margin: auto;
}

main{
    width: 1000px;
    margin: auto;
}